.ios,.md{
    page-historical-results {
        ion-card-header{
            background-color: #015747;
            color:white;       
        }
        .questionstyle{
            background-color:cadetblue;
            color:white;
        }
        .answerstyle{

        }
    }
    
}
