<ion-header>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content text-center>
            {{question.text}}
        </ion-card-content>
    </ion-card>
    <div padding>
    </div>
    <button [disabled]="isDisabled" (click)="sendAnswer(answer)" ion-button block color="primary" *ngFor="let answer of answers"
        round>{{answer.text}}</button>
    <ion-card *ngIf="showRightAnswerMessage">
        <ion-card-content>
            Correcto!
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="showWrongAnswerMessage">
        <ion-card-content>
            Incorrecto!
        </ion-card-content>
    </ion-card>
</ion-content>