<ion-content>
  <ion-card *ngFor="let match of matches">
    <ion-card-header color="secondary">
      Nombre: {{ match.username}} <br>
      Fecha: {{match.date}} <br>
    </ion-card-header>
    <ion-item-group *ngFor="let game of match.games; let i = index">
      <ion-item-divider color="secondary">{{"Round " + (i + 1) }}</ion-item-divider>
      <ion-item>Usuario: <span>{{game.computerRandomOption | options}}</span> </ion-item>
      <ion-item>PC: <span>{{game.userChosenOption | options}}</span></ion-item>
      <ion-item>Resultado: <span>{{game.result | MatchResultPipe }}</span></ion-item>
    </ion-item-group>
  </ion-card>
</ion-content>