.ios,.md{
    page-registered-user {
        ion-card-content{
            font-size: 1.2em;
        }

        .destacado{
            color:blueviolet;
            font-style: italic;
        }
    }
}

